<nav class="navbar navbar-inverse navbar-fixed-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="home" class="navbar-brand" th:href="@{/home}">Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="li-p"><a th:href="@{/system-preference}" id="sys_p">System Preferences</a></li>
            <li id="li-m"><a th:href="@{/system-message}" id="sys_m">System Messages</a></li>
            <li id="li-sc"><a th:href="@{/service-charge}" id="sc_set">Service Charge</a></li>
        </ul>
    </div>
</nav>